.header{
  position: fixed;
  width: 100%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  text-transform: uppercase;
  mix-blend-mode: difference;
  z-index: 1;
  .gnb{
    position: relative;
    color: #f7a7bb;
    .logo{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 1.3vw;
      @include desktop{
        font-size: 3.2vw;
      }
      @include tablet {
        font-size: 3vw;
      }
      @include mobile{
        font-size: 3.4vw;
      }
    }
    .gnb-menu{
      display: flex;
      justify-content: space-between;
      color: #f3eeea;
      @include desktop{
        font-size: 1.5vw;
      }
      @include tablet {
        font-size: 2vw;
      }
      @include mobile{
        font-size: 2.7vw;
      }
    }
  }
}